<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta name="description" content="Count your Beer" />
    <meta name="keywords" content="Beer,ビール" />
    <title>ibeer - Count your Beer!</title>
    <link rel="stylesheet" type="text/css" href="/media/css/screen.css" media="screen" />
    {% block head %}{% endblock %}
</head>
<body>

<div id="top">
    <div id="topMenu">
    <ul id="topNavi">
    </ul>
    </div>
</div>

<div id="container">
    <h1 id="header">ibeer</h1>

    <div id="content">
    {% block content %}{% endblock %}
    </div>

    <div id="footer">
        <address>&copy; 2008 <a href="mailto:takatoshi.ono@gmail.com">Takatoshi Ono</a>.
            Powered by <a href="http://code.google.com/appengine/">Google App Engine</a>,
            <a href="http://code.google.com/apis/chart/">Google Chart API</a>.
            Icon by <a href="http://www.famfamfam.com/lab/icons/silk/">famfamfam</a>.
        </address>
    </div>

    <div id="navigation">
        <ul>
        <li><a href="/">Home</a></li>
        {% if logout_url %}
        <li><a href="{{ logout_url }}">Logout</a></li>
        {% endif %}
        {% if login_url %}
        <li><a href="{{ login_url }}">Login</a></li>
        {% endif %}
        {% if user %}
        {% endif %}
        </ul>
    </div>
</div> <!-- container -->

<div id="photo_license">
    photo by <a href="http://www.flickr.com/photos/ijsendoorn/">IJsendoorn</a>
    - a Creative Commons License
</div>

</body>
</html>
